<div class="container">
    <div id="content-session" data-target="{{ session }}"></div>
    <div class="row">
        <div class="col-xs-12">
            <div id="carousel-wrapper" style="margin-top: 30px;">
                <p class="alert alert-info">{{ 'Select a year to display corresponding movies in this area' | t }}</p>
            </div>
        </div>
    </div>
</div>