<div class="container">
    <div id="content-session" data-target="{{ session }}"></div>
    <div class="row">
        <div class="col-xs-12">
            <div id="carousel-wrapper" style="margin-top: 30px;">
                <p class="alert alert-info">{{ 'Select a year to display corresponding movies in this area' | t }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">
        <div class="col-xs-1">
            <a href="https://www.themoviedb.org" target="_blank">
                <img style="width: 100%;" alt="https://www.themoviedb.org" class="media-object" src="https://www.themoviedb.org/assets/2/v4/logos/408x161-powered-by-rectangle-blue-10d3d41d2a0af9ebcb85f7fb62ffb6671c15ae8ea9bc82a2c6941f223143409e.png">
            </a>
        </div>
        <div class="col-xs-11">
            <p>{{ 'This product uses the TMDb API but is not endorsed or certified by TMDb.' | t }}</p>
        </div>
    </div>
</div>